
div{
    text-align: center;
    background-color: burlywood;
    border-width: .30em; 
    border-style: solid; 
    border-color:black;
    margin-left: 25%;
    margin-right: 25%;
}

h1{
    text-align: center;
    
}